
        * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

header {
    display: flex;   
    align-items: center;
    height: 60px;  
   background-color: #1b1b1b;
}

.menu-icon {
    
  display: inline;
  align-items: center;
  cursor: pointer;
  min-width: 50px;
  padding-right: 30px;
background-color: #1b1b1b;
 
}

.menu-icon span {
  
  display: block;
  
  background-color: goldenrod;
  height: 4px;
  width: 35px;
 margin: 5px;
 
}

.side-menu {
  position: fixed;
  top: 0;
  left: -200px;
  width: 200px;
  height: 100%;
  background-color: rgb(29, 35, 35,0.9);
  transition: left 0.3s;
}

.side-menu.open {
  left: 0;
}

.side-menu ul {
  list-style-type: none;
  padding: 0;
   margin-top: 50px;
}

.side-menu li {
  padding: 15px 20px;
}

.side-menu a {
  text-decoration: none;
  color: #fff;
}

.side-menu a:hover {
  color: #ccc;
}

.logo-container {
    display: flex;
    min-width: 50px;
    max-width: 150px;
    margin-right: 50px;
    min-height: 70%;
   
}

.logo {
   
    max-width: 150px;
    min-width: 50px;
    min-height: 100%;
    
}
.login-container {
   
   display: flex;
   margin-left: 20px;
   padding-left: 10px;
   padding-right: 10px;
   margin-right:10px ;
  
   
   
}

.login-button {
    padding: 10px 20px; 
   border: none;
   border-radius: 100px;
   background-color: #007BFF;
   color:#fff;
   cursor: pointer;
}

nav {
    flex: 1;
   display: flex;
   flex-direction: row-reverse;
   background-color: #1b1b1b;
   padding: 0px;
 
   
}

.nav-links {
   
   display: flex;
   
   justify-content: flex-end;
   list-style-type: none;
}

.nav-links li {
    
   margin-left: 20px;
}

.nav-links a {
       
   color: #fff;
   text-decoration: none;
}

.nav-links a:hover {
   color:firebrick;
}

.search-container {
    display: flex;
    flex: 1;
    min-width: 100px;
    align-items: center;
  
}

.search-bar {
   
    width: 80%;
    padding: 10px;
    border: #1b1b1b
   
}
.search-button {
        background-color: #1b1b1b;
        color: rgb(79, 34, 34);
        border: none;
        border-top-right-radius: 5px;
        border-bottom-right-radius:  5px;
        padding: 5px;
        font-size: 16px;
        cursor: pointer;
      }
      .search-img {
        width: 30px;
        height: 30px;
      }


    