@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bellota:wght@100;200;300;400;500;600;700;800;900&display=swap');


* {
    font-family: Poppins, serif;
}

body {
  font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
  }

#background-container{
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: start;
    align-items: center;

}
header {
    background-color: rgb(51, 51, 51,0.1);
    height: 7%;
    color: white;
    text-align: center;
    padding: 1rem;
  }

.page-navigation {
  position: absolute;
  bottom: 0;
  left: 50%;
  right: 70%;
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: transparent;
  
}



.page-prev, .page-next {
  background-color: transparent;
  color:rgb(255, 255, 255);
  font-size: 1.5rem;
}

.dots {
  display: flex;
  gap: 5px;
}

.dot {
  width: 10px;
  height: 10px;
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  opacity: 0.5;
  cursor: pointer;
}

.dot.active {
  opacity: 1;
}



  .big-container {

      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 10px;

    margin-bottom: 3%;
    flex: 1;
    overflow-y: auto;

  }


  .review {
    background-color: #f4f4f4;
    border-radius: 20px 5px 5px 5px;
    width: 500px;
    height: 130px;
    margin-right: 50px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
   
  }

.user-image img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}
  .review-text {
    margin-bottom: 1rem;
  }


  .icons {
    display: flex;
    margin-left: 80%;
    justify-content: space-between;
    align-items: center;
  }

  .like,
  .dislike {
    cursor: pointer;
    font-size: 1.5rem;
    margin-right: 1rem;
  }

  .selected {
    color: blue;
  }

  .add-review {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    background-color:#333;
    color:  rgb(255, 255, 255);
    border-radius: 50%;
    font-size: 1.5rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }

  .add-review:hover {
    transform: scale(1.1);
    
  }

.add-review-text {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 150px;
    width: 300px; 
    transform: translate(-50%, -50%);
    background-color: rgb(0, 0, 0);
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
    display: none;
    align-items: center;
  }

 .add-review-text textarea {

    position: absolute;
    margin-left: 10%;
    top: 5%;
    bottom: 10%;
    background-color: rgb(255, 255, 255);
    height: 150px;
    width: 200px;
    padding: 0.5rem;
    border-radius: 5px;
    border: none;
   
  }

 .add-review-text button {
    background-color: rgb(51, 51, 51);
    bottom: 0;
     right: 40%;
    color: white;
    position:absolute;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
  }
