@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bellota:wght@100;200;300;400;500;600;700;800;900&display=swap');


* {
    font-family: Poppins, serif;
}


body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}

.container {
    max-width: 900px;
    margin: 40px auto;
    padding: 20px;
    text-align: center;
}

h1 {
    font-size: 2.5em;
    margin-bottom: 1.5em;
    color: #333;
}
.movie-card {
    display: flex;
    margin: 20px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.movie-image {
    width: 40%;
    height: 300px;
    object-fit: cover;
}

.movie-info {
    padding: 20px;
    background-color: #fff;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.movie-info p {
    font-size: 1em;
    color: #999;
}
.movie-title {
    margin: 0;
    color: #333;
}

.remove-button {
    align-self: flex-end;
    padding: 20px 15px;
    background-color: #ff0000;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
