body{
    margin:0px;
    background-color: #242424;
    color:white;
}
.header{
   display:flex;
   justify-content: space-between;
   border-bottom:1px solid gray;
   align-items:center;
   height: 50px;
   padding:20px;
   padding-bottom: 10px;
   
}
.hh{
    
    margin:0px;
}
.hp{
   
    margin:0px;
    margin-top:12px
}
.container{
    display:grid;
    gap:20px;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    grid-template-rows: 1fr;
    margin-top:20px;
}
.box > img{
    width:100%;
    
}


.box:hover{
    box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    cursor: pointer;
    
}
.sidebar {
    position: fixed; /* Fixed position to stay on top */
    top: 0; /* Align to the top */
    right: -100%; /* Initially hidden */
    width: 25%; /* Adjust the width as needed */
    height: 100%; /* Full height */
    background-color: #f1f1f1; /* Choose a background color */
    overflow-x: hidden; /* Hide horizontal scrollbar */
    transition: 0.3s; /* Smooth transition */
    padding: 1rem; /* Add some padding */
  }
  .content-shift {
    margin-right: 25%; /* Shift the content by the width of the sidebar */
    transition: 0.3s; /* Smooth transition */
  }
  #simg{
    width:100%;
  }